@font-face {
  font-family: "Plumb";
  src: url("./assets/fonts/plumb_900.ttf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Plumb";
  src: url("./assets/fonts/plumb_700.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Plumb";
  src: url("./assets/fonts/plumb_500.ttf");
  font-weight: 500;
  font-style: normal;
}

* {
  font-family: "Plumb", sans-serif;
  font-style: normal;
  line-height: normal;
  color: var(--black);
}
/* grid, flex */
.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-type-single {
  width: 100%;
}
.btn-type-double {
  width: 490px;
  display: flex;
  /* justify-content: flex-start; */
  align-items: center;
  height: var(--btn-height-bg);
  padding: var(--btn-wrapper-padding);
  border-radius: var(--border-radius-1-wrapper);
  box-shadow: var(--btn-box-shadow-green);
  -webkit-border-radius: var(--border-radius-1-wrapper);
  -moz-border-radius: var(--border-radius-1-wrapper);
  -ms-border-radius: var(--border-radius-1-wrapper);
  -o-border-radius: var(--border-radius-1-wrapper);
}
.btn-type-triple {
  width: 100%;
  display: flex;
  /* justify-content: flex-start; */
  align-items: center;
  height: var(--btn-height-bg);
  padding: var(--btn-wrapper-padding);
  border-radius: var(--border-radius-1-wrapper);
  box-shadow: var(--btn-box-shadow-green);
}
/* Программы мойки */
.btn-wrapper {
  width: 490px;
  height: var(--btn-height-bg);
  display: inline-block;
  padding: var(--btn-wrapper-padding);
  border-radius: var(--border-radius-1-wrapper);
  box-shadow: var(--btn-box-shadow-green);
}
.btn-wrapper--green {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 229, 119, 1) 100%
  );
}
.btn-wrapper--blue {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 160, 228, 1) 100%
  );
}
.btn-row-double:nth-child(1) {
  margin-right: 20px;
}
.program-btn {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
  border: var(--border-1);
  border-radius: var(--border-radius-1-inner);
  background-color: var(--white);
  padding: var(--btn-padding-1);
}
.btn-green {
  background-image: url("../assets/images/btn-green-md-bg.svg");
}
.btn-blue-light {
  background-image: url("../assets/images/btn-blue-light-md-bg.svg");
  flex-grow: 1;
  flex-basis: 0;
}
.btn-blue-light2 {
  background-image: url("../assets/images/btn-blue-light-md2-bg.svg");
  flex-grow: 1;
  flex-basis: 0;
}
.btn-blue-dark {
  background-image: url("../assets/images/btn-blue-dark-md-bg.svg");
}
.btn-purple {
  background-image: url("../assets/images/btn-purple-md-bg.svg");
}
.btn-sm {
  width: 115px;
  margin-left: 5px;
  letter-spacing: -0.9px;
  justify-content: space-around;
}
.btn-pink {
  background-image: url("../assets/images/btn-pink-md-bg.svg");
}
.btn__main-text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
.btn__main-text {
  font-size: var(--font-size-45);
  font-weight: var(--font-weight-bold);
  text-transform: var(--text-uppercase);
}
.btn__main-text-sm {
  font-size: var(--font-size-35);
  font-weight: var(--font-weight-bold);
}
.btn__sub-text {
  font-size: var(--font-size-28);
  font-weight: var(--font-weight-normal);
}
.row {
  display: flex;
  width: 1000px;
  justify-content: center;
  /* gap: 20px; */
  margin: 0 auto;
  margin-bottom: 20px;
}
/* .programs {
  display: grid;
  gap: 20px;
  margin: 0 auto;
  width: 1000px;
  grid-template-columns: auto;
} */
.active-light-blue-child-down {
  background: var(--btn-background-cobalt-blue);
  background-image: none;
}
.active-light-blue-child-up {
  background-image: url("../assets/images/btn-blue-light-md-bg.svg");
}
.active-dark-blue-child-down {
  background: var(--btn-background-cadmium-blue);
  background-image: none;
}
.active-dark-blue-child-up {
  background-image: url("../assets/images/btn-blue-dark-md-bg.svg");
}
.active-pink-child-down {
  background: var(--btn-background-pink);
  background-image: none;
}
.active-pink-child-up {
  background-image: url("../assets/images/btn-pink-md-bg.svg");
}
.active-purple-child-down {
  background: var(--btn-background-purple);
  background-image: none;
}
.active-purple-child-up {
  background-image: url("../assets/images/btn-purple-md-bg.svg");
}
.active-red:active {
  background-color: var(--btn-background-red);
}
.active-avocado-green-child-down {
  background: var(--btn-background-avocado-green);
  background-image: none;
}
.active-avocado-green-child-up {
  background-image: url("../assets/images/btn-blue-light-md2-bg.svg");
}
.active-grass-green-child-down {
  background: var(--btn-background-grass-green);
  background-image: none;
}
.active-grass-green-child-up {
  background-image: url("../assets/images/btn-green-md-bg.svg");
}
.container {
  padding-left: 50px;
  padding-top: 30px;
  padding-bottom: 30px;

  background: var(--black);
}
.main {
  display: flex;
  align-items: flex-start;
}
/* Sidebar */
.sidebar {
  display: block;
  margin-left: 30px;
  width: 360px;
  border-top-left-radius: 20px;
  background: #454242;
  height: 1000px;

  padding: 65px 59px 0px 25px;
  color: var(--btn-background-cobalt-blue);
  text-transform: uppercase;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media screen and (max-width: 1080px) {
  .sidebar {
    display: none;
  }
  .container {
    padding: 30px 40px;
    margin: 0 auto;
  }
}
